# Wrangling Data

### Author: Avikal Somvanshi

In [1]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
from pandas.tools.plotting import scatter_matrix
import sys
reload(sys)
import zipfile
import geopandas as gpd
import json
sys.setdefaultencoding('utf-8')
%pylab inline

In [2]:
#Unzipping downloaded nyc income
zipfile.ZipFile(os.path.join("Data/ACS_15_5YR_B19301.zip")).extractall(r"Data/income")

In [3]:
# loading income for NYC
nyc_income = pd.read_csv("Data/income/ACS_15_5YR_B19301_with_ann.csv")
nyc_income.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,Id,Id2,Geography,Estimate; Per capita income in the past 12 mon...,Margin of Error; Per capita income in the past...
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-,**
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",2440,373
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-,**
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",20931,4870

In [4]:
nyc_income.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01',
       u'HD02_VD01'],
      dtype='object')

In [5]:
nyc_income = nyc_income[[u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01']]

In [6]:
nyc_income.columns = [[u'GEO.id', u'GEO.id2', u'GEO.display-label', u'Median_income']]

In [7]:
nyc_income.head()

,GEO.id,GEO.id2,GEO.display-label,Median_income
0,Id,Id2,Geography,Estimate; Per capita income in the past 12 mon...
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",2440
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",20931

In [8]:
#Unzipping downloaded nyc rent
zipfile.ZipFile(os.path.join("Data/ACS_15_5YR_B25064.zip")).extractall(r"Data/rent")

In [9]:
# loading rent for NYC
nyc_rent = pd.read_csv("Data/rent/ACS_15_5YR_B25064_with_ann.csv")
nyc_rent.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,Id,Id2,Geography,Estimate; Median gross rent,Margin of Error; Median gross rent
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-,**
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",-,**
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-,**
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,340

In [10]:
nyc_rent.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01',
       u'HD02_VD01'],
      dtype='object')

In [11]:
nyc_rent = nyc_rent[[u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01']]

In [12]:
nyc_rent.columns = [[u'GEO.id', u'GEO.id2', u'GEO.display-label', u'Median_rent']]

In [13]:
nyc_rent.head()

,GEO.id,GEO.id2,GEO.display-label,Median_rent
0,Id,Id2,Geography,Estimate; Median gross rent
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",-
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557

In [14]:
#Unzipping downloaded nyc shapefile in a dataframe
zipfile.ZipFile(os.path.join("Data/gz_2010_36_150_00_500k.zip")).extractall(r"Data/gz_2010_36_150_00_500k")

In [15]:
# loading shape file for NYC
nyc_shape = gpd.read_file("Data/gz_2010_36_150_00_500k/gz_2010_36_150_00_500k.shp")
nyc_shape.head()

,BLKGRP,CENSUSAREA,COUNTY,GEO_ID,LSAD,NAME,STATE,TRACT,geometry
0,1,0.776,001,1500000US360010001001,BG,1,36,000100,"POLYGON ((-73.741342 42.670231, -73.740979 42...."
1,2,0.138,001,1500000US360010001002,BG,2,36,000100,"POLYGON ((-73.74012499999999 42.670589, -73.74..."
2,1,0.560,001,1500000US360010002001,BG,1,36,000200,"POLYGON ((-73.74926499999999 42.658246, -73.75..."
3,2,0.080,001,1500000US360010002002,BG,2,36,000200,"POLYGON ((-73.751678 42.657408, -73.757971 42...."
4,3,0.084,001,1500000US360010002003,BG,3,36,000200,POLYGON ((-73.75354899999999 42.65626899999999...

In [16]:
nyc_shape.columns

Index([    u'BLKGRP', u'CENSUSAREA',     u'COUNTY',     u'GEO_ID',
             u'LSAD',       u'NAME',      u'STATE',      u'TRACT',
         u'geometry'],
      dtype='object')

In [17]:
nyc_shape.columns = [[u'BLKGRP', u'CENSUSAREA',     u'COUNTY',     u'GEO.id',
             u'LSAD',       u'NAME',      u'STATE',      u'TRACT',
         u'geometry']]

In [18]:
nyc_shape.head()

,BLKGRP,CENSUSAREA,COUNTY,GEO.id,LSAD,NAME,STATE,TRACT,geometry
0,1,0.776,001,1500000US360010001001,BG,1,36,000100,"POLYGON ((-73.741342 42.670231, -73.740979 42...."
1,2,0.138,001,1500000US360010001002,BG,2,36,000100,"POLYGON ((-73.74012499999999 42.670589, -73.74..."
2,1,0.560,001,1500000US360010002001,BG,1,36,000200,"POLYGON ((-73.74926499999999 42.658246, -73.75..."
3,2,0.080,001,1500000US360010002002,BG,2,36,000200,"POLYGON ((-73.751678 42.657408, -73.757971 42...."
4,3,0.084,001,1500000US360010002003,BG,3,36,000200,POLYGON ((-73.75354899999999 42.65626899999999...

In [19]:
nyc_shape = nyc_shape[[u'GEO.id', u'geometry']]
nyc_shape.head()

                  GEO.id                                           geometry
0  1500000US360010001001  POLYGON ((-73.741342 42.670231, -73.740979 42....
1  1500000US360010001002  POLYGON ((-73.74012499999999 42.670589, -73.74...
2  1500000US360010002001  POLYGON ((-73.74926499999999 42.658246, -73.75...
3  1500000US360010002002  POLYGON ((-73.751678 42.657408, -73.757971 42....
4  1500000US360010002003  POLYGON ((-73.75354899999999 42.65626899999999...

In [20]:
#Merging dataframes
nyc_soco = pd.merge(nyc_rent, nyc_shape, how='left', on='GEO.id')
nyc_soco = pd.merge(nyc_soco, nyc_income, how='left')
nyc_soco

,GEO.id,GEO.id2,GEO.display-label,Median_rent,geometry,Median_income
0,Id,Id2,Geography,Estimate; Median gross rent,NaN,Estimate; Per capita income in the past 12 mon...
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",-,"POLYGON ((-73.892504 40.801206, -73.872264 40....",-
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",-,"POLYGON ((-73.892866 40.790567, -73.89039 40.7...",2440
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",-,"POLYGON ((-73.86270399999999 40.797276, -73.86...",-
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,"POLYGON ((-73.85772 40.813362, -73.85913699999...",20931
5,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",1287,"POLYGON ((-73.85913699999999 40.813171, -73.85...",21855
6,1500000US360050002003,360050002003,"Block Group 3, Census Tract 2, Bronx County, N...",1243,"POLYGON ((-73.855312 40.809329, -73.854417 40....",24709
7,1500000US360050004000,360050004000,"Block Group 0, Census Tract 4, Bronx County, N...",-,"POLYGON ((-73.847689 40.806065, -73.8479849999...",-
8,1500000US360050004001,360050004001,"Block Group 1, Census Tract 4, Bronx County, N...",1543,"POLYGON ((-73.856291 40.813555, -73.8556179999...",15411
9,1500000US360050004002,360050004002,"Block Group 2, Census Tract 4, Bronx County, N...",1411,POLYGON ((-73.85561799999999 40.81060799999999...,18834
10,1500000US360050004003,360050004003,"Block Group 3, Census Tract 4, Bronx County, N...",1395,"POLYGON ((-73.847689 40.806065, -73.846497 40....",34995
11,1500000US360050004004,360050004004,"Block Group 4, Census Tract 4, Bronx County, N...",-,"POLYGON ((-73.849097 40.814551, -73.848112 40....",22888
12,1500000US360050016001,360050016001,"Block Group 1, Census Tract 16, Bronx County, ...",952,"POLYGON ((-73.85776799999999 40.819879, -73.86...",14825
13,1500000US360050016002,360050016002,"Block Group 2, Census Tract 16, Bronx County, ...",1620,"POLYGON ((-73.85870299999999 40.815405, -73.85...",26937
14,1500000US360050016003,360050016003,"Block Group 3, Census Tract 16, Bronx County, ...",676,"POLYGON ((-73.855136 40.822436, -73.857202 40....",29054
15,1500000US360050016004,360050016004,"Block Group 4, Census Tract 16, Bronx County, ...",1400,"POLYGON ((-73.85776799999999 40.819879, -73.85...",13832
16,1500000US360050019000,360050019000,"Block Group 0, Census Tract 19, Bronx County, ...",-,"POLYGON ((-73.913624 40.796786, -73.91141 40.7...",-
17,1500000US360050019001,360050019001,"Block Group 1, Census Tract 19, Bronx County, ...",1176,"POLYGON ((-73.91978 40.80359199999999, -73.920...",19817
18,1500000US360050019002,360050019002,"Block Group 2, Census Tract 19, Bronx County, ...",-,"POLYGON ((-73.91557299999999 40.803407, -73.91...",9731
19,1500000US360050019003,360050019003,"Block Group 3, Census Tract 19, Bronx County, ...",765,"POLYGON ((-73.91705 40.801563, -73.916648 40.8...",15898
20,1500000US360050019004,360050019004,"Block Group 4, Census Tract 19, Bronx County, ...",-,"POLYGON ((-73.913624 40.796786, -73.918633 40....",-
21,1500000US360050019005,360050019005,"Block Group 5, Census Tract 19, Bronx County, ...",-,"POLYGON ((-73.89864 40.799101, -73.90021 40.79...",-
22,1500000US360050020001,360050020001,"Block Group 1, Census Tract 20, Bronx County, ...",1393,"POLYGON ((-73.86431399999999 40.818999, -73.86...",16977
23,1500000US360050020002,360050020002,"Block Group 2, Census Tract 20, Bronx County, ...",725,"POLYGON ((-73.864255 40.814658, -73.865218 40....",13815
24,1500000US360050020003,360050020003,"Block Group 3, Census Tract 20, Bronx County, ...",433,"POLYGON ((-73.869969 40.818268, -73.8705009999...",5709
25,1500000US360050020004,360050020004,"Block Group 4, Census Tract 20, Bronx County, ...",674,"POLYGON ((-73.86708 40.814441, -73.869545 40.8...",9437
26,1500000US360050020005,360050020005,"Block Group 5, Census Tract 20, Bronx County, ...",784,"POLYGON ((-73.867164 40.818616, -73.8680959999...",14223
27,1500000US360050020006,360050020006,"Block Group 6, Census Tract 20, Bronx County, ...",871,"POLYGON ((-73.867656 40.820751, -73.8666959999...",20901
28,1500000US360050023001,360050023001,"Block Group 1, Census Tract 23, Bronx County, ...",436,"POLYGON ((-73.927121 40.810949, -73.9251419999...",7566
29,1500000US360050023002,360050023002,"Block Group 2, Census Tract 23, Bronx County, ...",422,"POLYGON ((-73.92337499999999 40.808432, -73.92...",13098
...,...,...,...,...,...,...
6365,1500000US360850277062,360850277062,"Block Group 2, Census Tract 277.06, Richmond C...",1201,"POLYGON ((-74.164828 40.590139, -74.1657869999...",25002
6366,1500000US360850277063,360850277063,"Block Group 3, Census Tract 277.06, Richmond C...",1199,"POLYGON ((-74.164828 40.590139, -74.161265 40....",35445
6367,1500000US360850279001,360850279001,"Block Group 1, Census Tract 279, Richmond Coun...",1116,"POLYGON ((-74.15915799999999 40.561936, -74.16...",51473
6368,1500000US360850279002,360850279002,"Block Group 2, Census Tract 279, Richmond Coun...",1073,"POLYGON ((-74.129144 40.57473, -74.13094099999...",37068
6369,1500000US360850291020,360850291020,"Block Group 0, Census Tract 291.02, Richmond C...",-,"POLYGON ((-74.2064130996187 40.5795191349982, ...",-
6370,1500000US360850291021,360850291021,"Block Group 1, Census Tract 291.02, Richmond C...",1715,"POLYGON ((-74.203642 40.585317, -74.2041069999...",28977
6371,1500000US360850291022,360850291022,"Block Group 2, Census Tract 291.02, Richmond C...",1804,"POLYGON ((-74.191318 40.585705, -74.1947029999...",37187
6372,1500000US360850291031,360850291031,"Block Group 1, Census Tract 291.03, Richmond C...",1201,"POLYGON ((-74.169603 40.611252, -74.165842 40....",33483
6373,1500000US360850291032,360850291032,"Block Group 2, Census Tract 291.03, Richmond C...",-,"POLYGON ((-74.165774 40.605655, -74.167197 40....",30432
6374,1500000US360850291034,360850291034,"Block Group 4, Census Tract 291.03, Richmond C...",1512,"POLYGON ((-74.16388999999999 40.597335, -74.16...",21632
6375,1500000US360850291035,360850291035,"Block Group 5, Census Tract 291.03, Richmond C...",969,"POLYGON ((-74.16388999999999 40.597335, -74.16...",35835
6376,1500000US360850291041,360850291041,"Block Group 1, Census Tract 291.04, Richmond C...",1019,"POLYGON ((-74.16816799999999 40.61827, -74.167...",28102
6377,1500000US360850291042,360850291042,"Block Group 2, Census Tract 291.04, Richmond C...",-,"POLYGON ((-74.165842 40.610661, -74.169603 40....",35843
6378,1500000US360850291043,360850291043,"Block Group 3, Census Tract 291.04, Richmond C...",1019,"POLYGON ((-74.15999699999999 40.610704, -74.16...",31857
6379,1500000US360850291044,360850291044,"Block Group 4, Census Tract 291.04, Richmond C...",1662,"POLYGON ((-74.15999699999999 40.610704, -74.15...",37251
6380,1500000US360850303011,360850303011,"Block Group 1, Census Tract 303.01, Richmond C...",1378,"POLYGON ((-74.16274899999999 40.621185, -74.16...",28576
6381,1500000US360850303012,360850303012,"Block Group 2, Census Tract 303.01, Richmond C...",1040,"POLYGON ((-74.148988 40.62419, -74.14876799999...",29584
6382,1500000US360850303021,360850303021,"Block Group 1, Census Tract 303.02, Richmond C...",1778,"POLYGON ((-74.162081 40.623254, -74.1630359999...",27686
6383,1500000US360850303022,360850303022,"Block Group 2, Census Tract 303.02, Richmond C...",1439,"POLYGON ((-74.16221299999999 40.622829, -74.15...",24740
6384,1500000US360850303023,360850303023,"Block Group 3, Census Tract 303.02, Richmond C...",2017,"POLYGON ((-74.156825 40.622027, -74.1622129999...",24420
6385,1500000US360850303024,360850303024,"Block Group 4, Census Tract 303.02, Richmond C...",-,"POLYGON ((-74.162176 40.621074, -74.1627489999...",25227
6386,1500000US360850319011,360850319011,"Block Group 1, Census Tract 319.01, Richmond C...",424,"POLYGON ((-74.160388 40.631595, -74.161717 40....",10610
6387,1500000US360850319012,360850319012,"Block Group 2, Census Tract 319.01, Richmond C...",2140,"POLYGON ((-74.161717 40.631643, -74.160388 40....",18221
6388,1500000US360850319020,360850319020,"Block Group 0, Census Tract 319.02, Richmond C...",-,"POLYGON ((-74.16024243519159 40.6402859173731,...",-
6389,1500000US360850319021,360850319021,"Block Group 1, Census Tract 319.02, Richmond C...",405,"POLYGON ((-74.1710919074327 40.6428760823022, ...",12686
6390,1500000US360850319022,360850319022,"Block Group 2, Census Tract 319.02, Richmond C...",1231,"POLYGON ((-74.16456413990809 40.6411181731611,...",24359
6391,1500000US360850319023,360850319023,"Block Group 3, Census Tract 319.02, Richmond C...",1161,"POLYGON ((-74.16456413990809 40.6411181731611,...",13506
6392,1500000US360850323000,360850323000,"Block Group 0, Census Tract 323, Richmond Coun...",-,"POLYGON ((-74.17398937426769 40.6450376609468,...",-
6393,1500000US360850323001,360850323001,"Block Group 1, Census Tract 323, Richmond Coun...",1336,"POLYGON ((-74.17398937426769 40.6450376609468,...",34261
6394,1500000US360859901000,360859901000,"Block Group 0, Census Tract 9901, Richmond Cou...",-,NaN,-

In [21]:
nyc_soco.Median_income[1]

'-'

In [22]:
#replacing '-' with nan
nyc_soco.replace('-', np.nan, inplace=True)
nyc_soco

,GEO.id,GEO.id2,GEO.display-label,Median_rent,geometry,Median_income
0,Id,Id2,Geography,Estimate; Median gross rent,NaN,Estimate; Per capita income in the past 12 mon...
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892504 40.801206, -73.872264 40....",NaN
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892866 40.790567, -73.89039 40.7...",2440
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN,"POLYGON ((-73.86270399999999 40.797276, -73.86...",NaN
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,"POLYGON ((-73.85772 40.813362, -73.85913699999...",20931
5,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",1287,"POLYGON ((-73.85913699999999 40.813171, -73.85...",21855
6,1500000US360050002003,360050002003,"Block Group 3, Census Tract 2, Bronx County, N...",1243,"POLYGON ((-73.855312 40.809329, -73.854417 40....",24709
7,1500000US360050004000,360050004000,"Block Group 0, Census Tract 4, Bronx County, N...",NaN,"POLYGON ((-73.847689 40.806065, -73.8479849999...",NaN
8,1500000US360050004001,360050004001,"Block Group 1, Census Tract 4, Bronx County, N...",1543,"POLYGON ((-73.856291 40.813555, -73.8556179999...",15411
9,1500000US360050004002,360050004002,"Block Group 2, Census Tract 4, Bronx County, N...",1411,POLYGON ((-73.85561799999999 40.81060799999999...,18834
10,1500000US360050004003,360050004003,"Block Group 3, Census Tract 4, Bronx County, N...",1395,"POLYGON ((-73.847689 40.806065, -73.846497 40....",34995
11,1500000US360050004004,360050004004,"Block Group 4, Census Tract 4, Bronx County, N...",NaN,"POLYGON ((-73.849097 40.814551, -73.848112 40....",22888
12,1500000US360050016001,360050016001,"Block Group 1, Census Tract 16, Bronx County, ...",952,"POLYGON ((-73.85776799999999 40.819879, -73.86...",14825
13,1500000US360050016002,360050016002,"Block Group 2, Census Tract 16, Bronx County, ...",1620,"POLYGON ((-73.85870299999999 40.815405, -73.85...",26937
14,1500000US360050016003,360050016003,"Block Group 3, Census Tract 16, Bronx County, ...",676,"POLYGON ((-73.855136 40.822436, -73.857202 40....",29054
15,1500000US360050016004,360050016004,"Block Group 4, Census Tract 16, Bronx County, ...",1400,"POLYGON ((-73.85776799999999 40.819879, -73.85...",13832
16,1500000US360050019000,360050019000,"Block Group 0, Census Tract 19, Bronx County, ...",NaN,"POLYGON ((-73.913624 40.796786, -73.91141 40.7...",NaN
17,1500000US360050019001,360050019001,"Block Group 1, Census Tract 19, Bronx County, ...",1176,"POLYGON ((-73.91978 40.80359199999999, -73.920...",19817
18,1500000US360050019002,360050019002,"Block Group 2, Census Tract 19, Bronx County, ...",NaN,"POLYGON ((-73.91557299999999 40.803407, -73.91...",9731
19,1500000US360050019003,360050019003,"Block Group 3, Census Tract 19, Bronx County, ...",765,"POLYGON ((-73.91705 40.801563, -73.916648 40.8...",15898
20,1500000US360050019004,360050019004,"Block Group 4, Census Tract 19, Bronx County, ...",NaN,"POLYGON ((-73.913624 40.796786, -73.918633 40....",NaN
21,1500000US360050019005,360050019005,"Block Group 5, Census Tract 19, Bronx County, ...",NaN,"POLYGON ((-73.89864 40.799101, -73.90021 40.79...",NaN
22,1500000US360050020001,360050020001,"Block Group 1, Census Tract 20, Bronx County, ...",1393,"POLYGON ((-73.86431399999999 40.818999, -73.86...",16977
23,1500000US360050020002,360050020002,"Block Group 2, Census Tract 20, Bronx County, ...",725,"POLYGON ((-73.864255 40.814658, -73.865218 40....",13815
24,1500000US360050020003,360050020003,"Block Group 3, Census Tract 20, Bronx County, ...",433,"POLYGON ((-73.869969 40.818268, -73.8705009999...",5709
25,1500000US360050020004,360050020004,"Block Group 4, Census Tract 20, Bronx County, ...",674,"POLYGON ((-73.86708 40.814441, -73.869545 40.8...",9437
26,1500000US360050020005,360050020005,"Block Group 5, Census Tract 20, Bronx County, ...",784,"POLYGON ((-73.867164 40.818616, -73.8680959999...",14223
27,1500000US360050020006,360050020006,"Block Group 6, Census Tract 20, Bronx County, ...",871,"POLYGON ((-73.867656 40.820751, -73.8666959999...",20901
28,1500000US360050023001,360050023001,"Block Group 1, Census Tract 23, Bronx County, ...",436,"POLYGON ((-73.927121 40.810949, -73.9251419999...",7566
29,1500000US360050023002,360050023002,"Block Group 2, Census Tract 23, Bronx County, ...",422,"POLYGON ((-73.92337499999999 40.808432, -73.92...",13098
...,...,...,...,...,...,...
6365,1500000US360850277062,360850277062,"Block Group 2, Census Tract 277.06, Richmond C...",1201,"POLYGON ((-74.164828 40.590139, -74.1657869999...",25002
6366,1500000US360850277063,360850277063,"Block Group 3, Census Tract 277.06, Richmond C...",1199,"POLYGON ((-74.164828 40.590139, -74.161265 40....",35445
6367,1500000US360850279001,360850279001,"Block Group 1, Census Tract 279, Richmond Coun...",1116,"POLYGON ((-74.15915799999999 40.561936, -74.16...",51473
6368,1500000US360850279002,360850279002,"Block Group 2, Census Tract 279, Richmond Coun...",1073,"POLYGON ((-74.129144 40.57473, -74.13094099999...",37068
6369,1500000US360850291020,360850291020,"Block Group 0, Census Tract 291.02, Richmond C...",NaN,"POLYGON ((-74.2064130996187 40.5795191349982, ...",NaN
6370,1500000US360850291021,360850291021,"Block Group 1, Census Tract 291.02, Richmond C...",1715,"POLYGON ((-74.203642 40.585317, -74.2041069999...",28977
6371,1500000US360850291022,360850291022,"Block Group 2, Census Tract 291.02, Richmond C...",1804,"POLYGON ((-74.191318 40.585705, -74.1947029999...",37187
6372,1500000US360850291031,360850291031,"Block Group 1, Census Tract 291.03, Richmond C...",1201,"POLYGON ((-74.169603 40.611252, -74.165842 40....",33483
6373,1500000US360850291032,360850291032,"Block Group 2, Census Tract 291.03, Richmond C...",NaN,"POLYGON ((-74.165774 40.605655, -74.167197 40....",30432
6374,1500000US360850291034,360850291034,"Block Group 4, Census Tract 291.03, Richmond C...",1512,"POLYGON ((-74.16388999999999 40.597335, -74.16...",21632
6375,1500000US360850291035,360850291035,"Block Group 5, Census Tract 291.03, Richmond C...",969,"POLYGON ((-74.16388999999999 40.597335, -74.16...",35835
6376,1500000US360850291041,360850291041,"Block Group 1, Census Tract 291.04, Richmond C...",1019,"POLYGON ((-74.16816799999999 40.61827, -74.167...",28102
6377,1500000US360850291042,360850291042,"Block Group 2, Census Tract 291.04, Richmond C...",NaN,"POLYGON ((-74.165842 40.610661, -74.169603 40....",35843
6378,1500000US360850291043,360850291043,"Block Group 3, Census Tract 291.04, Richmond C...",1019,"POLYGON ((-74.15999699999999 40.610704, -74.16...",31857
6379,1500000US360850291044,360850291044,"Block Group 4, Census Tract 291.04, Richmond C...",1662,"POLYGON ((-74.15999699999999 40.610704, -74.15...",37251
6380,1500000US360850303011,360850303011,"Block Group 1, Census Tract 303.01, Richmond C...",1378,"POLYGON ((-74.16274899999999 40.621185, -74.16...",28576
6381,1500000US360850303012,360850303012,"Block Group 2, Census Tract 303.01, Richmond C...",1040,"POLYGON ((-74.148988 40.62419, -74.14876799999...",29584
6382,1500000US360850303021,360850303021,"Block Group 1, Census Tract 303.02, Richmond C...",1778,"POLYGON ((-74.162081 40.623254, -74.1630359999...",27686
6383,1500000US360850303022,360850303022,"Block Group 2, Census Tract 303.02, Richmond C...",1439,"POLYGON ((-74.16221299999999 40.622829, -74.15...",24740
6384,1500000US360850303023,360850303023,"Block Group 3, Census Tract 303.02, Richmond C...",2017,"POLYGON ((-74.156825 40.622027, -74.1622129999...",24420
6385,1500000US360850303024,360850303024,"Block Group 4, Census Tract 303.02, Richmond C...",NaN,"POLYGON ((-74.162176 40.621074, -74.1627489999...",25227
6386,1500000US360850319011,360850319011,"Block Group 1, Census Tract 319.01, Richmond C...",424,"POLYGON ((-74.160388 40.631595, -74.161717 40....",10610
6387,1500000US360850319012,360850319012,"Block Group 2, Census Tract 319.01, Richmond C...",2140,"POLYGON ((-74.161717 40.631643, -74.160388 40....",18221
6388,1500000US360850319020,360850319020,"Block Group 0, Census Tract 319.02, Richmond C...",NaN,"POLYGON ((-74.16024243519159 40.6402859173731,...",NaN
6389,1500000US360850319021,360850319021,"Block Group 1, Census Tract 319.02, Richmond C...",405,"POLYGON ((-74.1710919074327 40.6428760823022, ...",12686
6390,1500000US360850319022,360850319022,"Block Group 2, Census Tract 319.02, Richmond C...",1231,"POLYGON ((-74.16456413990809 40.6411181731611,...",24359
6391,1500000US360850319023,360850319023,"Block Group 3, Census Tract 319.02, Richmond C...",1161,"POLYGON ((-74.16456413990809 40.6411181731611,...",13506
6392,1500000US360850323000,360850323000,"Block Group 0, Census Tract 323, Richmond Coun...",NaN,"POLYGON ((-74.17398937426769 40.6450376609468,...",NaN
6393,1500000US360850323001,360850323001,"Block Group 1, Census Tract 323, Richmond Coun...",1336,"POLYGON ((-74.17398937426769 40.6450376609468,...",34261
6394,1500000US360859901000,360859901000,"Block Group 0, Census Tract 9901, Richmond Cou...",NaN,NaN,NaN

In [23]:
nyc_soco.to_csv('nyc_social.csv')

In [24]:
#nyc_soco.dropna(inplace=True)
nyc_soco.drop([0], inplace=True)
nyc_soco.head()

,GEO.id,GEO.id2,GEO.display-label,Median_rent,geometry,Median_income
1,1500000US360050001000,360050001000,"Block Group 0, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892504 40.801206, -73.872264 40....",NaN
2,1500000US360050001001,360050001001,"Block Group 1, Census Tract 1, Bronx County, N...",NaN,"POLYGON ((-73.892866 40.790567, -73.89039 40.7...",2440
3,1500000US360050002000,360050002000,"Block Group 0, Census Tract 2, Bronx County, N...",NaN,"POLYGON ((-73.86270399999999 40.797276, -73.86...",NaN
4,1500000US360050002001,360050002001,"Block Group 1, Census Tract 2, Bronx County, N...",1557,"POLYGON ((-73.85772 40.813362, -73.85913699999...",20931
5,1500000US360050002002,360050002002,"Block Group 2, Census Tract 2, Bronx County, N...",1287,"POLYGON ((-73.85913699999999 40.813171, -73.85...",21855

In [25]:
nyc_soco.set_index(nyc_soco['GEO.id'], inplace=True)
nyc_soco = nyc_soco[['geometry', 'Median_rent', 'Median_income']]
nyc_soco.head()

,geometry,Median_rent,Median_income
GEO.id,,,
1500000US360050001000,"POLYGON ((-73.892504 40.801206, -73.872264 40....",NaN,NaN
1500000US360050001001,"POLYGON ((-73.892866 40.790567, -73.89039 40.7...",NaN,2440
1500000US360050002000,"POLYGON ((-73.86270399999999 40.797276, -73.86...",NaN,NaN
1500000US360050002001,"POLYGON ((-73.85772 40.813362, -73.85913699999...",1557,20931
1500000US360050002002,"POLYGON ((-73.85913699999999 40.813171, -73.85...",1287,21855

In [26]:
nyc_soco.dropna(inplace=True)

In [27]:
from geopandas import GeoDataFrame
df_rein = GeoDataFrame(nyc_soco, geometry= nyc_soco.geometry)

In [28]:
df_rein.head()

,geometry,Median_rent,Median_income
GEO.id,,,
1500000US360050002001,"POLYGON ((-73.85772 40.813362, -73.85913699999...",1557,20931
1500000US360050002002,"POLYGON ((-73.85913699999999 40.813171, -73.85...",1287,21855
1500000US360050002003,"POLYGON ((-73.855312 40.809329, -73.854417 40....",1243,24709
1500000US360050004001,"POLYGON ((-73.856291 40.813555, -73.8556179999...",1543,15411
1500000US360050004002,POLYGON ((-73.85561799999999 40.81060799999999...,1411,18834

In [29]:
#df_rein.plot()

In [30]:
gdf = gpd.GeoDataFrame.from_file('Data/NYClisting.geojson')
gdf.head(3)

,accesstosubway,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,geometry,host_id,host_name,id,...,latitude,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type
0,11.946361,156,0,2051600,1,0,POINT (-73.78954050381778 40.8448695719099),403032,Diane,9147025,...,40.844870,-73.789541,2,Cozy City Island Cottage,City Island,Bronx,36,125,2.49,Entire home/apt
1,12.035697,362,0,2051600,1,0,POINT (-73.78143724844766 40.83939619387105),20433973,Julia,3943387,...,40.839396,-73.781437,1,Cozy City Island Room/Private Bath,City Island,Bronx,21,65,0.75,Private room
2,12.400226,365,0,2051600,1,0,POINT (-73.78949621071705 40.8558982857858),1843520,Wendy,15220538,...,40.855898,-73.789496,2,Airy and Peaceful Room and Bath in Victorian Home,City Island,Bronx,5,110,1.01,Private room

In [31]:
gdf['location'] = gdf.geometry

In [32]:
gdf.describe()

,accesstosubway,availability_365,beer_count,calculated_host_listings_count,coffee_count,host_id,latitude,longitude,minimum_nights,number_of_reviews,price,reviews_per_month
count,40586.000000,40586.000000,40586.000000,40586.000000,40586.000000,4.058600e+04,40586.000000,40586.000000,40586.000000,40586.000000,40586.000000,31125.000000
mean,6.452116,142.352190,0.402898,1.661361,6.289706,2.891893e+07,40.730561,-73.956377,3.849998,15.562435,145.115335,1.246057
std,1.285261,143.565303,0.768927,2.166085,7.381065,3.056289e+07,0.053380,0.040637,13.032145,28.647333,219.738887,1.356053
min,5.350794,0.000000,0.000000,1.000000,0.000000,4.300000e+01,40.499794,-74.240843,1.000000,0.000000,10.000000,0.010000
25%,5.692445,0.000000,0.000000,1.000000,1.000000,4.616049e+06,40.692492,-73.984181,1.000000,1.000000,70.000000,0.280000
50%,6.038844,88.000000,0.000000,1.000000,3.000000,1.737957e+07,40.724096,-73.957492,2.000000,4.000000,100.000000,0.730000
75%,6.713163,301.000000,1.000000,2.000000,10.000000,4.485569e+07,40.764082,-73.940771,3.000000,17.000000,170.000000,1.790000
max,22.844873,365.000000,5.000000,35.000000,35.000000,1.187455e+08,40.917415,-73.711750,1250.000000,411.000000,10000.000000,16.430000

In [33]:
df_rein.reset_index(inplace=True)

In [34]:
ddf = gpd.sjoin(df_rein,gdf, how='right')
ddf

,GEO.id,Median_rent,Median_income,index_left,accesstosubway,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,...,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type,location
index_right,,,,,,,,,,,,,,,,,,,,,
9101,1500000US360050002002,1287,21855,1.0,8.368050,242,0,2002400,10,0,...,-73.864061,2,Community Living in the Heart & Soul of NYC (3C),Clason Point,Bronx,9,59,1.53,Private room,POINT (-73.86406089014145 40.81274651012037)
9098,1500000US360050002002,1287,21855,1.0,8.380864,365,0,2000200,10,0,...,-73.863814,2,"Private Room for 2, Community House NYC (2A)",Clason Point,Bronx,2,43,0.42,Private room,POINT (-73.86381389361847 40.81293405229447)
9097,1500000US360050002002,1287,21855,1.0,8.406552,336,0,2000200,10,0,...,-73.863705,1,King sized bed + futon in Large Private Room ...,Clason Point,Bronx,6,76,1.37,Private room,POINT (-73.86370502873359 40.81359965937455)
9093,1500000US360050002002,1287,21855,1.0,8.371107,327,0,2000200,10,0,...,-73.865384,2,"Private & Quiet Room for Two, Twin Beds (2D)",Clason Point,Bronx,17,43,3.27,Private room,POINT (-73.86538438829932 40.81382212404414)
9095,1500000US360050002002,1287,21855,1.0,8.428738,328,0,2000200,10,0,...,-73.863285,2,Room for 2 in private community house in NYC (3A),Clason Point,Bronx,4,43,0.91,Private room,POINT (-73.86328527198702 40.81392708658173)
9096,1500000US360050002002,1287,21855,1.0,8.388353,365,0,2000200,10,0,...,-73.865115,2,Heart & Soul of NYC - Bronx Community Living (2C),Clason Point,Bronx,2,59,0.37,Private room,POINT (-73.86511465990777 40.81412108870071)
9087,1500000US360050002002,1287,21855,1.0,8.421343,325,0,2000200,10,0,...,-73.863943,2,Private Room Quiet Neighborhood Twin Beds (3D),Clason Point,Bronx,12,43,2.02,Private room,POINT (-73.86394281331403 40.81420527560628)
9084,1500000US360050002002,1287,21855,1.0,8.400627,357,0,2000200,10,0,...,-73.865140,3,Large Private Room in Quiet Neighborhood (2B),Clason Point,Bronx,6,77,1.25,Private room,POINT (-73.86514021809725 40.81449257586157)
9083,1500000US360050004001,1543,15411,3.0,8.540691,284,0,2000400,1,0,...,-73.856068,2,Garden House in the East Bronx,Clason Point,Bronx,26,110,1.23,Entire home/apt,POINT (-73.85606789098367 40.81149825893302)
9092,1500000US360050004002,1411,18834,4.0,8.587326,63,0,2000400,1,0,...,-73.853002,1,Cozy room in serene house,Clason Point,Bronx,0,21,NaN,Shared room,POINT (-73.85300182228902 40.81028869870194)
9100,1500000US360050004002,1411,18834,4.0,8.631690,274,0,2000400,5,0,...,-73.853335,2,Hamiltons Hideway Lower Level Apt NYC,Clason Point,Bronx,3,145,0.11,Entire home/apt,POINT (-73.85333513618478 40.81192179938464)
9085,1500000US360050004002,1411,18834,4.0,8.628254,365,0,2000400,5,0,...,-73.853710,2,Hamilton's Hideaway Crash Pad M1,Clason Point,Bronx,1,65,0.49,Private room,POINT (-73.8537098285868 40.81213800498679)
9099,1500000US360050004002,1411,18834,4.0,8.638086,274,0,2000400,5,0,...,-73.853494,2,Hamilton's Hideaway 2 NY,Clason Point,Bronx,0,78,NaN,Private room,POINT (-73.85349401450755 40.81224923952136)
9086,1500000US360050004002,1411,18834,4.0,8.587807,365,0,2000400,5,0,...,-73.855348,1,Hamiltons Hideaway couch bed,Clason Point,Bronx,2,35,0.09,Shared room,POINT (-73.85534819853095 40.81230768030911)
9089,1500000US360050004002,1411,18834,4.0,8.619943,275,0,2000400,5,0,...,-73.855139,2,Hamilton's Hideaway 1 NY,Clason Point,Bronx,0,90,NaN,Private room,POINT (-73.85513913277549 40.81308948199973)
9090,1500000US360050004003,1395,34995,5.0,8.466726,0,0,2000400,1,0,...,-73.851822,1,Beautiful Room in a Gated Community in the Bronx,Clason Point,Bronx,9,45,0.94,Private room,POINT (-73.85182199346428 40.80544064296303)
9094,1500000US360050004003,1395,34995,5.0,8.458728,365,0,2000400,1,0,...,-73.854734,1,Comfortable 1 Bedroom,Clason Point,Bronx,1,52,0.04,Private room,POINT (-73.85473444336345 40.80784130354888)
9091,1500000US360050016004,1400,13832,9.0,8.605230,335,0,2001600,1,0,...,-73.861637,2,Cozy Living Environment,Clason Point,Bronx,20,82,1.15,Entire home/apt,POINT (-73.86163742010264 40.81772960799746)
28549,1500000US360050019001,1176,19817,10.0,7.066991,302,0,2001900,2,1,...,-73.922759,3,Spacious room in historic house,Port Morris,Bronx,76,60,1.61,Private room,POINT (-73.92275851949772 40.80460577863765)
28551,1500000US360050019001,1176,19817,10.0,7.116061,0,0,2001900,1,1,...,-73.928098,20,Loft Apartment in Old Piano Factory,Port Morris,Bronx,2,75,0.10,Entire home/apt,POINT (-73.92809766271836 40.80678649602351)
28552,1500000US360050019001,1176,19817,10.0,7.080292,169,0,2001900,2,1,...,-73.926062,4,Large New York style loft,Port Morris,Bronx,66,140,2.26,Entire home/apt,POINT (-73.92606207967577 40.80554409824835)
28558,1500000US360050019001,1176,19817,10.0,7.098518,0,0,2001900,1,1,...,-73.926157,2,Welcome to the Historic Artist's & Piano District,Port Morris,Bronx,0,70,NaN,Private room,POINT (-73.92615736465511 40.80605281219484)
28559,1500000US360050019001,1176,19817,10.0,7.090106,355,0,2001900,1,1,...,-73.926662,1,BEAUTIFUL COZY AMAZING VIEW NYC,Port Morris,Bronx,5,70,3.06,Private room,POINT (-73.92666208374942 40.80589884331914)
28560,1500000US360050019001,1176,19817,10.0,7.138548,0,0,2001900,1,1,...,-73.930021,2,Sunny Spacious Bronx Loft,Port Morris,Bronx,2,90,0.18,Entire home/apt,POINT (-73.93002127122061 40.80759191440395)
28557,1500000US360050019001,1176,19817,10.0,7.175194,337,0,2001900,1,1,...,-73.928895,30,"The ""Humphrey Bogart""",Port Morris,Bronx,14,140,0.37,Entire home/apt,POINT (-73.92889496251738 40.80843868741298)
28547,1500000US360050019003,765,15898,11.0,7.080640,60,1,2001900,3,0,...,-73.913213,2,Sunny pvt room for single traveler,Port Morris,Bronx,4,50,0.92,Private room,POINT (-73.91321293969396 40.80252565524087)
28556,1500000US360050019003,765,15898,11.0,7.056282,44,1,2001900,3,0,...,-73.913622,2,Sunny Double room with large closet. very priv...,Port Morris,Bronx,1,50,1.00,Private room,POINT (-73.91362182036332 40.80194406628546)
28554,1500000US360050019003,765,15898,11.0,7.011840,83,1,2001900,1,0,...,-73.914491,7,Spacious NYC Suite: June_July_Neat_Whole Floor,Port Morris,Bronx,11,71,0.53,Entire home/apt,POINT (-73.91449059495064 40.80091179994301)
28564,1500000US360050019003,765,15898,11.0,7.066321,310,1,2001900,3,0,...,-73.914347,2,"Entire floor of house Very Private 2BR suite,S...",Port Morris,Bronx,36,90,1.98,Entire home/apt,POINT (-73.91434672343254 40.80246809053664)
9082,1500000US360050020003,433,5709,14.0,8.439402,0,0,2002000,1,0,...,-73.867638,1,"Bronx, NY Area. Private Room.",Clason Point,Bronx,0,50,NaN,Private room,POINT (-73.86763762986776 40.81735473783103)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38242,NaN,NaN,NaN,NaN,5.542630,179,1,3044900,1,2,...,-73.926669,1,Sunny Bushwick loft,Williamsburg,Brooklyn,2,75,2.00,Private room,POINT (-73.92666884678441 40.70927015500549)
38444,NaN,NaN,NaN,NaN,5.400351,178,1,3044900,1,5,...,-73.939590,3,Contemporary Style in Brooklyn,Williamsburg,Brooklyn,18,95,1.07,Private room,POINT (-73.93959038642463 40.71623734378116)
38517,NaN,NaN,NaN,NaN,5.441862,0,1,3044900,1,4,...,-73.934165,7,sunshine bedroom in old school artist loft,Williamsburg,Brooklyn,0,58,NaN,Private room,POINT (-73.93416497895619 40.7144461364344)
38638,NaN,NaN,NaN,NaN,5.413769,288,1,3044900,2,4,...,-73.937843,1,Sunny room in Williamsburg,Williamsburg,Brooklyn,30,65,1.26,Private room,POINT (-73.93784313995117 40.71536768509461)
38731,NaN,NaN,NaN,NaN,5.419735,2,1,3044900,1,4,...,-73.936903,2,1.5 Bedroom Williamsburg Apartment off Graham L,Williamsburg,Brooklyn,5,104,1.17,Entire home/apt,POINT (-73.93690273735756 40.71524857946626)
38882,NaN,NaN,NaN,NaN,5.443390,179,1,3044900,1,0,...,-73.933175,2,Musicians Oasis,Williamsburg,Brooklyn,0,140,NaN,Entire home/apt,POINT (-73.93317537401614 40.71542364703743)
38950,NaN,NaN,NaN,NaN,5.402333,299,1,3044900,1,5,...,-73.938783,30,LXRY 2BR+2BA CONDO W POOL + PARKING,Williamsburg,Brooklyn,3,160,0.09,Entire home/apt,POINT (-73.93878286119934 40.71664106735842)
39261,NaN,NaN,NaN,NaN,5.423060,0,1,3044900,2,4,...,-73.936324,1,Sunny Williamsburg 2BR,Williamsburg,Brooklyn,8,130,0.56,Entire home/apt,POINT (-73.93632444289688 40.71527105940002)
39321,NaN,NaN,NaN,NaN,5.414789,0,1,3044900,1,4,...,-73.937348,7,Bright 2 Bdrm Apt in Williamsburg,Williamsburg,Brooklyn,0,180,NaN,Entire home/apt,POINT (-73.93734823263615 40.7156902338747)
39410,NaN,NaN,NaN,NaN,5.499758,167,0,None,2,0,...,-73.930729,3,Spacious Room in NYC Loft,Williamsburg,Brooklyn,77,70,1.49,Private room,POINT (-73.93072852686348 40.71002111062013)
39541,NaN,NaN,NaN,NaN,5.399176,0,0,3044900,1,2,...,-73.937046,4,Big room in East Williamsburg Loft,Williamsburg,Brooklyn,1,45,0.15,Private room,POINT (-73.93704594762902 40.71986520348714)
39631,NaN,NaN,NaN,NaN,5.541356,0,1,3044900,1,2,...,-73.926566,1,Room in Loft,Williamsburg,Brooklyn,0,50,NaN,Private room,POINT (-73.92656552209452 40.70953303206102)
39639,NaN,NaN,NaN,NaN,5.545509,364,1,3044900,2,2,...,-73.926374,1,Huge Gorgeous Artists Loft (Studio),Williamsburg,Brooklyn,31,99,0.85,Shared room,POINT (-73.92637442296201 40.70927010044159)
39643,NaN,NaN,NaN,NaN,5.509103,321,1,3044900,1,2,...,-73.931309,2,"NEW, Bright, Private Backyard, 1 Block from Tr...",Williamsburg,Brooklyn,36,280,4.09,Entire home/apt,POINT (-73.93130947322517 40.70844966102507)
39666,NaN,NaN,NaN,NaN,5.397429,0,1,3044900,1,5,...,-73.939527,2,Deluxe Williamsburg Apartment,Williamsburg,Brooklyn,1,200,0.07,Entire home/apt,POINT (-73.93952672610838 40.7169105049998)
39674,NaN,NaN,NaN,NaN,5.408498,0,1,3044900,1,4,...,-73.938688,5,Resort-like living in Williamsburg,Williamsburg,Brooklyn,1,220,0.07,Entire home/apt,POINT (-73.93868833620944 40.7155177139541)
39752,NaN,NaN,NaN,NaN,5.401263,0,1,3044900,1,5,...,-73.939418,21,Airy Duplex Room with Private Bath,Williamsburg,Brooklyn,0,150,NaN,Private room,POINT (-73.93941805247243 40.71621852989907)
39756,NaN,NaN,NaN,NaN,5.405928,113,1,3044900,1,5,...,-73.938455,2,Private Garden Apt New Renovation,Williamsburg,Brooklyn,139,140,2.54,Entire home/apt,POINT (-73.93845455452309 40.71624781863164)
39949,NaN,NaN,NaN,NaN,5.423557,135,1,3044900,1,4,...,-73.935794,1,"Williamsburg, BK- Beautiful Private Bed and Bath",Williamsburg,Brooklyn,24,70,4.39,Private room,POINT (-73.93579437863355 40.71579071875861)
39979,NaN,NaN,NaN,NaN,5.398486,0,1,3044900,1,5,...,-73.939742,3,Resort-like living in Williamsburg,Williamsburg,Brooklyn,1,290,0.02,Entire home/apt,POINT (-73.93974198254452 40.71647279927835)
40052,NaN,NaN,NaN,NaN,5.453705,363,1,3044900,2,0,...,-73.931369,2,Huge Gorgeous Artists Loft (Room),Williamsburg,Brooklyn,56,99,1.29,Private room,POINT (-73.93136865008913 40.7161178706909)
40079,NaN,NaN,NaN,NaN,5.421845,0,1,3044900,1,1,...,-73.934868,4,HUGE New Industrial Williamsburg Apartment,Williamsburg,Brooklyn,3,220,0.47,Entire home/apt,POINT (-73.93486771213695 40.71740860577982)
40126,NaN,NaN,NaN,NaN,5.409600,0,1,3044900,1,4,...,-73.938640,30,Comfy modern townhouse on a park.,Williamsburg,Brooklyn,5,275,0.26,Entire home/apt,POINT (-73.93863972650522 40.71536023434867)
40285,NaN,NaN,NaN,NaN,5.435528,29,1,3044900,2,4,...,-73.934371,4,Spacious Old School Artist Loft 2bd,Williamsburg,Brooklyn,7,150,0.20,Entire home/apt,POINT (-73.93437130396968 40.71530515978594)
40297,NaN,NaN,NaN,NaN,5.398714,274,1,3044900,3,5,...,-73.939440,1,Spacious BR Queen Bed Williamsburg,Williamsburg,Brooklyn,1,90,0.09,Private room,POINT (-73.93943994149247 40.7167231321859)
40358,NaN,NaN,NaN,NaN,5.404394,0,1,3044900,1,5,...,-73.938515,5,Cozy Williamsburg Apartment L Train,Williamsburg,Brooklyn,18,128,1.01,Entire home/apt,POINT (-73.93851457683023 40.71649747536294)
40580,NaN,NaN,NaN,NaN,10.647339,7,0,None,2,0,...,-73.916311,1,Huge 3BR 2.5BA StunningView Balcony,Kingsbridge,Bronx,0,70,NaN,Private room,POINT (-73.91631130544377 40.87574848434636)
40581,NaN,NaN,NaN,NaN,13.392607,87,1,None,1,0,...,-73.903361,14,Boutique Hotel Living in Yonkers Victorian House!,North Riverdale,Bronx,0,65,NaN,Entire home/apt,POINT (-73.90336075714765 40.91741487758766)
40583,NaN,NaN,NaN,NaN,7.606120,72,0,4064102,1,0,...,-73.842010,1,good apportamenty,Richmond Hill,Queens,0,96,NaN,Entire home/apt,POINT (-73.84200962987867 40.70170731905164)
40585,NaN,NaN,NaN,NaN,12.691923,14,0,None,1,0,...,-73.722342,1,Clean Private 1st Floor COZY,Cambria Heights,Queens,0,77,NaN,Entire home/apt,POINT (-73.72234171527158 40.70049238268039)

In [35]:
ddf.geometry = ddf.location
ddf.head()

,GEO.id,Median_rent,Median_income,index_left,accesstosubway,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,...,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type,location
index_right,,,,,,,,,,,,,,,,,,,,,
9101,1500000US360050002002,1287,21855,1.0,8.368050,242,0,2002400,10,0,...,-73.864061,2,Community Living in the Heart & Soul of NYC (3C),Clason Point,Bronx,9,59,1.53,Private room,POINT (-73.86406089014145 40.81274651012037)
9098,1500000US360050002002,1287,21855,1.0,8.380864,365,0,2000200,10,0,...,-73.863814,2,"Private Room for 2, Community House NYC (2A)",Clason Point,Bronx,2,43,0.42,Private room,POINT (-73.86381389361847 40.81293405229447)
9097,1500000US360050002002,1287,21855,1.0,8.406552,336,0,2000200,10,0,...,-73.863705,1,King sized bed + futon in Large Private Room ...,Clason Point,Bronx,6,76,1.37,Private room,POINT (-73.86370502873359 40.81359965937455)
9093,1500000US360050002002,1287,21855,1.0,8.371107,327,0,2000200,10,0,...,-73.865384,2,"Private & Quiet Room for Two, Twin Beds (2D)",Clason Point,Bronx,17,43,3.27,Private room,POINT (-73.86538438829932 40.81382212404414)
9095,1500000US360050002002,1287,21855,1.0,8.428738,328,0,2000200,10,0,...,-73.863285,2,Room for 2 in private community house in NYC (3A),Clason Point,Bronx,4,43,0.91,Private room,POINT (-73.86328527198702 40.81392708658173)

In [36]:
ddf.drop(['location', 'GEO.id'], axis=1, inplace=True)

In [37]:
ddf.head()

,Median_rent,Median_income,index_left,accesstosubway,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,geometry,...,latitude,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type
index_right,,,,,,,,,,,,,,,,,,,,,
9101,1287,21855,1.0,8.368050,242,0,2002400,10,0,POINT (-73.86406089014145 40.81274651012037),...,40.812747,-73.864061,2,Community Living in the Heart & Soul of NYC (3C),Clason Point,Bronx,9,59,1.53,Private room
9098,1287,21855,1.0,8.380864,365,0,2000200,10,0,POINT (-73.86381389361847 40.81293405229447),...,40.812934,-73.863814,2,"Private Room for 2, Community House NYC (2A)",Clason Point,Bronx,2,43,0.42,Private room
9097,1287,21855,1.0,8.406552,336,0,2000200,10,0,POINT (-73.86370502873359 40.81359965937455),...,40.813600,-73.863705,1,King sized bed + futon in Large Private Room ...,Clason Point,Bronx,6,76,1.37,Private room
9093,1287,21855,1.0,8.371107,327,0,2000200,10,0,POINT (-73.86538438829932 40.81382212404414),...,40.813822,-73.865384,2,"Private & Quiet Room for Two, Twin Beds (2D)",Clason Point,Bronx,17,43,3.27,Private room
9095,1287,21855,1.0,8.428738,328,0,2000200,10,0,POINT (-73.86328527198702 40.81392708658173),...,40.813927,-73.863285,2,Room for 2 in private community house in NYC (3A),Clason Point,Bronx,4,43,0.91,Private room

In [38]:
with open('Data/NYClisting.geojson', 'w') as f:
    f.write(ddf.to_json())
    
#ddf.to_csv('Data/Airbnb_NYC_rent_income.csv')

In [39]:
chkin = gpd.GeoDataFrame.from_file('Data/NYClisting.geojson')
chkin.head(3)

,Median_income,Median_rent,accesstosubway,availability_365,beer_count,boro_ct_2010,calculated_host_listings_count,coffee_count,geometry,host_id,...,latitude,longitude,minimum_nights,name,neighbourhood,neighbourhood_group,number_of_reviews,price,reviews_per_month,room_type
0,21855,1287,8.368050,242,0,2002400,10,0,POINT (-73.86406089014145 40.81274651012037),525710,...,40.812747,-73.864061,2,Community Living in the Heart & Soul of NYC (3C),Clason Point,Bronx,9,59,1.53,Private room
1,21855,1287,8.380864,365,0,2000200,10,0,POINT (-73.86381389361847 40.81293405229447),525710,...,40.812934,-73.863814,2,"Private Room for 2, Community House NYC (2A)",Clason Point,Bronx,2,43,0.42,Private room
2,21855,1287,8.406552,336,0,2000200,10,0,POINT (-73.86370502873359 40.81359965937455),525710,...,40.813600,-73.863705,1,King sized bed + futon in Large Private Room ...,Clason Point,Bronx,6,76,1.37,Private room

In [40]:
chkin.columns

Index([                 u'Median_income',                    u'Median_rent',
                       u'accesstosubway',               u'availability_365',
                           u'beer_count',                   u'boro_ct_2010',
       u'calculated_host_listings_count',                   u'coffee_count',
                             u'geometry',                        u'host_id',
                            u'host_name',                             u'id',
                           u'index_left',                    u'last_review',
                             u'latitude',                      u'longitude',
                       u'minimum_nights',                           u'name',
                        u'neighbourhood',            u'neighbourhood_group',
                    u'number_of_reviews',                          u'price',
                    u'reviews_per_month',                      u'room_type'],
      dtype='object')

# Good to go!